<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta http-equiv="cache-control" content="no-cache" />
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>
<body>
    <div class="container">
    <div class="card mt-2 mb-2">

        <div class="card-body ">
            <h5>Resultado Cep</h5>
              <strong><%=dado.logradouro%></strong>
        </div>

        <div class="card-body ">
            <h5>Resultado Tempo</h5>
              <strong><%=dado.results.temp%></strong>
              <strong><%=dado.results.description%></strong>
              <strong><%=dado.results.city_name%></strong>
        </div>
    </div>
    <a href="/" class="btn btn-outline-dark">Nova consulta</a>
</div>

  
</body>
</html>